.reveal h1 {
    font-family: arial
    background-color: #d0e4fe;
    color: blue;
}

.reveal .state-background {
    background-image: url("diamond.png");
    background-repeat: no-repeat;
/*    background-size: 100% 100%; */
    left bottom;
    padding: 5px 0 5px 25px;
}

.reveal {
    font-size: 200%;
}

hr{
    border-top: 5px solid blue;
}
